---
import Pane from "../../components/Pane";
import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer";
import { getCollection } from 'astro:content';
import {formatDate, formatISO} from "date-fns";
import Nav from "../../components/Nav";
const posts = (await getCollection('posts')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

---
<Base title="Meeting Notes | Woodlands Computer Science" description="Woodlands CS Blog and meeting note repository." >
    <Nav client:load active="/posts" />
    <main class=`h-full flex flex-col w-7xl max-w-full lg:mr-4 gap-4` >
        <div class="max-w-3xl w-full mx-auto flex flex-col gap-4 blog-post">
            <Pane overflowScroll>
                <h1>Meeting Notes</h1>
                <p class="mb-8">Club updates, meeting notes, and resources will be posted here.</p>
                <h2>Latest Posts</h2>
                <ul class="list-none p-0 m-0">
                    {posts.map((post, index) => <li class="ps-0">
                        {index > 0 && <hr class="my-8" />}
                        <h3><a href={"/posts/" + post.id}>{post.data.title}</a></h3>
                        <time datetime={formatISO(post.data.date)} class="text-foreground-dimmed">
                            {formatDate(post.data.date, "d MMMM yyyy")}
                        </time>
                        <p>{post.data.description}</p>
                    </li>)}
                </ul>
            </Pane>

            <Footer />
        </div>
    </main>
</Base>