@import "tailwindcss";
@import "@fontsource/jetbrains-mono/latin.css";
@import "@fontsource/jetbrains-mono/latin-italic.css";

@theme {
    --color-brand: #17a71b;
    --color-foreground-dimmed: var(--color-neutral-400);
    --color-foreground: var(--color-neutral-300);
    --color-foreground-bright: var(--color-neutral-100);
    --color-social-discord: #5865F2;
    --font-mono: 'JetBrains Mono', monospace;
}
@layer base {
    html {
        scroll-behavior: smooth;
        color: var(--color-foreground);
    }
    a {
        text-decoration: underline;
        color: var(--color-foreground-dimmed);
    }
    h1, h2 {
        color: var(--color-foreground-bright);
    }
    @variant dark {
        p, li {
            color: var(--color-foreground);
        }
    }
    ul {
        display: block;
        list-style-type: disc;
        @apply pl-8;
    }
    ul li {
        padding-inline-start: 0.5rem;
    }
    strong, b {
        font-weight: bold;
    }
    strong {
        color: var(--color-foreground-bright);
    }
    [id] {
        @apply scroll-mt-24 md:scroll-mt-32 lg:scroll-mt-2;
    }
}

/*noinspection CssOverwrittenProperties*/
@utility text-from-* {
    --from-color: --value(--color-*);
    --from-color: --value([color]);
}

/*noinspection CssOverwrittenProperties*/
@utility text-to-* {
    --to-color: --value(--color-*);
    --to-color: --value([color]);
}

@keyframes gradient-link-hover {
    0% { background-position-x: right; }
    100% { background-position-x: left; }
}

@keyframes gradient-link-icon-hover {
    0% { color: var(--from-color); }
    50% { color: var(--to-color); }
    100% { color: var(--from-color); }
}

@utility icon-text {
    display: inline-flex;
    flex-direction: row;
    @apply gap-3;
    box-sizing: border-box;
    align-items: center;
    svg {
        @apply min-h-4;
        @apply min-w-4;
    }
}

@layer components {
    .nav-link {
        display: flex;
        @apply gap-2;
        text-decoration: none;
        transition: color 75ms ease-in;
        align-items: center;
    }
    .nav-link.active {
        font-weight: bold;
        color: white;
        font-style: italic;
    }

    .btn {
        @apply icon-text;
        border-color: var(--color-foreground);
        color: var(--color-foreground);
        text-decoration: none;
        @apply rounded-full;
        padding: calc(2*var(--spacing)) calc(4*var(--spacing));
    }

    .gradient-text {
        background-image: linear-gradient(to right, var(--from-color) 0%, var(--to-color) 33%, var(--from-color) 67%, var(--to-color) 100%);
        background-clip: text;
        color: transparent;
        background-size: 300% 100%;
        background-position-x: right;
    }

    a.gradient-text:hover {
        animation: gradient-link-hover 1s infinite linear;
    }
    .gradient-text svg {
        color: var(--from-color);
    }
    a.gradient-text:hover svg {
        animation: gradient-link-icon-hover 1s infinite linear;
    }

    details {
        @apply mb-4;
    }
    summary {
        @apply pb-1 mb-2;
        cursor: pointer;
        font-weight: 500;
        font-style: italic;
        color: var(--color-foreground);
        border-bottom: 2px solid var(--color-foreground);
    }
}