---
interface Props {
    title: string;
    description?: string;
}
import "../global.css";
const {title, description} = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
</head>
<body class="bg-neutral-950 px-4 lg:py-4 flex mx-auto justify-center items-start flex-col lg:flex-row lg:gap-8 h-auto max-w-screen">
    <slot />
</body>
</html>
